.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 160vh;
  margin-left: 2rem;
  margin-right: 2rem;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

input,
select {
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
  width: 100%;
}

button[type="submit"] {
  background-color: #0077c2;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  width: fit-content;
}

button[type="submit"]:hover {
  background-color: #005fa6;
}

.ReactQuill {
  border: 1px solid #ccc;
  border-radius: 4px;
}

.ReactQuill .ql-editor {
  min-height: 200px;
}
